<%= link_to movies_path do %>
  <img src="/home_cover.jpg" class="movie-header">
    <h1 class="tagline">Manage Your Movies Effortlessly</h1>
  </img>
<% end %>

<script>
  $('.container').removeAttr('class')
</script>